@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightskyblue;
    font-family: 'Montserrat', sans-serif;
}
.output{
    font-size: 65px;
    color: white;

}
